---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"585976253fbf4790947d10e683caebd1"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0","user":{"id":2345162,"email":"luna.kang.ca@gmail.com","created_at":"2016-06-21T23:54:19.525Z","updated_at":"2016-12-12T23:28:43.179Z","facebook_id":"10211274079914777","first_name":"Luna","last_name":"Kang","role":"user","stripe_customer_id":"cus_8gLOkAWO8EUPmc","twitter_handle":null,"skype_handle":null,"github_handle":"lkang-pdx","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"","photo_file_name":"Women_Tech_HShots_255v2.jpg","photo_content_type":"image/jpeg","photo_file_size":2207970,"photo_updated_at":"2016-07-18T14:51:20.635Z","send_new_message_emails":true,"referred_by_id":null,"slug":"luna-kang","os":"OS
        X","last_seen_at":"2016-12-12T23:28:43.114Z","private_profile":false,"google_plus_id":null,"linkedin":"www.linkedin.com/in/lunakang/","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5054,"phone_num":"","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"lkang-pdx","student_profile_id":null,"birthdate":"1980-03-15","gender":"Female","first_visit_id":null,"codewars_handle":"lkang-pdx"}}'
  recorded_at: Mon, 12 Dec 2016 23:28:43 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/mentors/<MENTOR_ID>/student_availability
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a750739eb41ae6252efb9e11120ddb3d"'
    body:
      encoding: UTF-8
      string: '[{"id":15180,"starts_at":"2016-12-12T23:00:00.000Z","ends_at":"2016-12-12T23:29:59.000Z","week_day":1,"booked":null},{"id":15218,"starts_at":"2016-12-15T23:30:00.000Z","ends_at":"2016-12-15T23:59:59.000Z","week_day":4,"booked":null},{"id":15221,"starts_at":"2016-12-16T01:00:00.000Z","ends_at":"2016-12-16T01:29:59.000Z","week_day":5,"booked":null},{"id":20369,"starts_at":"2016-12-15T22:30:00.000Z","ends_at":"2016-12-15T22:59:59.000Z","week_day":4,"booked":true},{"id":20806,"starts_at":"2016-12-12T22:30:00.000Z","ends_at":"2016-12-12T22:59:59.000Z","week_day":1,"booked":true}]'
  recorded_at: Mon, 12 Dec 2016 23:40:07 GMT
recorded_with: VCR 3.0.3
