---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a09186942e354e0dd98ef123b97bbe95"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0","user":{"id":2345162,"email":"luna.kang.ca@gmail.com","created_at":"2016-06-21T23:54:19.525Z","updated_at":"2016-12-12T23:28:44.960Z","facebook_id":"10211274079914777","first_name":"Luna","last_name":"Kang","role":"user","stripe_customer_id":"cus_8gLOkAWO8EUPmc","twitter_handle":null,"skype_handle":null,"github_handle":"lkang-pdx","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"","photo_file_name":"Women_Tech_HShots_255v2.jpg","photo_content_type":"image/jpeg","photo_file_size":2207970,"photo_updated_at":"2016-07-18T14:51:20.635Z","send_new_message_emails":true,"referred_by_id":null,"slug":"luna-kang","os":"OS
        X","last_seen_at":"2016-12-12T23:28:44.897Z","private_profile":false,"google_plus_id":null,"linkedin":"www.linkedin.com/in/lunakang/","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5054,"phone_num":"","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"lkang-pdx","student_profile_id":null,"birthdate":"1980-03-15","gender":"Female","first_visit_id":null,"codewars_handle":"lkang-pdx"}}'
  recorded_at: Mon, 12 Dec 2016 23:28:46 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/<CHECKPOINT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ad3cfd866420d5b43f994e0094d7df62"'
    body:
      encoding: UTF-8
      string: '{"id":<CHECKPOINT_ID>,"name":"Define Requirements and Write User Stories","body":"","parent_id":null,"created_at":"2016-05-11T22:15:08.257Z","updated_at":"2016-05-11T22:15:08.257Z","assignment":"","summary":"Write
        your own user stories","points":1,"project_name":"","roadmap_id":null,"active":true,"job_prep":false,"version":[0,0],"body_file_path":"","uuid":"b1297aed-9d3c-40f4-b6c4-12c8245a24a7","ref":"b1297aed-9d3c-40f4-b6c4-12c8245a24a7|0","retroactive_optional_date":null,"checkpoint_type":"normal","quiz_id":null}'
  recorded_at: Mon, 12 Dec 2016 23:36:42 GMT
recorded_with: VCR 3.0.3
