---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6d9e88434292b9c1ae5772c3d5cb7282"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0","user":{"id":2345162,"email":"luna.kang.ca@gmail.com","created_at":"2016-06-21T23:54:19.525Z","updated_at":"2016-12-12T23:17:06.267Z","facebook_id":"10211274079914777","first_name":"Luna","last_name":"Kang","role":"user","stripe_customer_id":"cus_8gLOkAWO8EUPmc","twitter_handle":null,"skype_handle":null,"github_handle":"lkang-pdx","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"","photo_file_name":"Women_Tech_HShots_255v2.jpg","photo_content_type":"image/jpeg","photo_file_size":2207970,"photo_updated_at":"2016-07-18T14:51:20.635Z","send_new_message_emails":true,"referred_by_id":null,"slug":"luna-kang","os":"OS
        X","last_seen_at":"2016-12-12T23:17:06.201Z","private_profile":false,"google_plus_id":null,"linkedin":"www.linkedin.com/in/lunakang/","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5054,"phone_num":"","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"lkang-pdx","student_profile_id":null,"birthdate":"1980-03-15","gender":"Female","first_visit_id":null,"codewars_handle":"lkang-pdx"}}'
  recorded_at: Mon, 12 Dec 2016 23:28:42 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f3233a0970920afc2ec82aff9b15a3c7"'
    body:
      encoding: UTF-8
      string: '{"id":2345162,"slug":"luna-kang","name":"Luna Kang","email":"luna.kang.ca@gmail.com","title":null,"first_name":"Luna","last_name":"Kang","facebook_id":"10211274079914777","url":"/users/luna-kang","bio":"","course":{"id":49,"name":"Part-Time
        Web Developer Track","length":27,"kind":"part_time_web_dev_track","appointments_per_week":2},"current_enrollment":{"id":19582,"created_at":"2016-11-25T16:40:56.366-08:00","updated_at":"2016-12-12T09:42:59.265-08:00","cohort_id":null,"status":"active","mentor_id":623967,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2016-11-25T16:40:56.248-08:00","roadmap_id":37,"course_end_date":"2017-02-19T00:00:00.000-08:00","course_start_date":"2016-07-18T00:00:00.000-07:00","death_date":null,"sent_get_started_email":false,"course_id":49,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":5054,"roadmap_ref":"11af8519-6246-45f5-87b7-6607f82fd92e|0","visit_id":"49aae30b-0f38-412b-8593-3903bb723b6b"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2345162/Women_Tech_HShots_255v2.jpg?1468853480","large_image_src":"https://cdn-photos.bloc.io/large/2345162/Women_Tech_HShots_255v2.jpg?1468853480","created_at":"2016-06-21
        16:54:19 -0700","facebook_profile_picture_url":"http://graph.facebook.com/10211274079914777/picture?width=110\u0026height=110","github_handle":"lkang-pdx","codecademy_handle":"lkang-pdx","student":true,"time_zone":{"name":"Pacific
        Time (US \u0026 Canada)","string":"(GMT-08:00) Pacific Time (US \u0026 Canada)","identifier":"America/Los_Angeles"}}'
  recorded_at: Mon, 12 Dec 2016 23:28:43 GMT
recorded_with: VCR 3.0.3
