---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9f3369bb23f8764579b3218a33154a84"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0","user":{"id":2345162,"email":"luna.kang.ca@gmail.com","created_at":"2016-06-21T19:54:19.525-04:00","updated_at":"2016-12-12T18:28:43.179-05:00","facebook_id":"10211274079914777","first_name":"Luna","last_name":"Kang","role":"user","stripe_customer_id":"cus_8gLOkAWO8EUPmc","twitter_handle":null,"skype_handle":null,"github_handle":"lkang-pdx","time_zone":"Pacific
        Time (US \u0026 Canada)","bio":"","photo_file_name":"Women_Tech_HShots_255v2.jpg","photo_content_type":"image/jpeg","photo_file_size":2207970,"photo_updated_at":"2016-07-18T10:51:20.635-04:00","send_new_message_emails":true,"referred_by_id":null,"slug":"luna-kang","os":"OS
        X","last_seen_at":"2016-12-12T18:28:43.114-05:00","private_profile":false,"google_plus_id":null,"linkedin":"www.linkedin.com/in/lunakang/","quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":5054,"phone_num":"","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"lkang-pdx","student_profile_id":null,"birthdate":"1980-03-15","gender":"Female","first_visit_id":null,"codewars_handle":"lkang-pdx"}}'
  recorded_at: Mon, 12 Dec 2016 23:28:44 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/message_threads?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiNTgxYjI3NDk1YWI4NDBmZjhjMmE1ZTUxYjdiZjIyYTgiLCJ1c2VyX2lkIjoyMzQ1MTYyLCJuYW1lIjoiTHVuYSBLYW5nIn0.JBJbGBUIpSxt8oguBCwpeAuAUSx_GBoDTFIblxfY7v0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"781b3b9f0df5d4f7daa6120444a1f861"'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":213873,"token":"cfe33515-7782-43c1-956f-f46709533179","subject":"Part-Time
        Phase 3: Specialization Introduction 1 - Progress Assessment discussion","updated_at":"2016-12-12T23:22:35.793Z","unread":true,"user_image":"https://cdn-photos.bloc.io/square/623967/unnamed.jpg?1422145878","preview":"Kinsey
        is awesome :) OK, we''ll definitely be di...","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":248813,"token":"1bc553bf-8168-4b9d-a35a-9499dbde296a","subject":"Part-Time
        Project: Backend Web Development Kele API Client 6 - Messaging discussion","updated_at":"2016-12-12T16:58:23.807Z","unread":false,"user_image":"https://cdn-photos.bloc.io/square/623967/unnamed.jpg?1422145878","preview":"Thanks
        Britt! \n\nUpdated! https://github.com/lka...","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":248787,"token":"aceb148a-0915-44e6-986c-41a05431e8d5","subject":"Part-Time
        Project: Backend Web Development Kele API Client 5 - Roadmaps and Checkpoints
  [...]
